tensorflow==2.13.0
scikit-learn>=1.2.2
numpy>=1.24.0
pandas>=2.0.0
opencv-python-headless>=4.7.0
bme680
mh-z19
pyserial
Pillow
adafruit-circuitpython-ads1x15
adafruit-circuitpython-busdevice
matplotlib>=3.7.0
seaborn>=0.12.0
joblib>=1.2.0
torch>=2.0.1
torchvision>=0.15.2
Flask>=2.3.0
RPi.GPIO
requests
opendatasets
kaggle
